@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.main-header{
    background: url(Finals/images/cover.png);
    background-size: cover;
    
}
body{
    background-image: url("new.png");
}

.maindiv{
    width: 70%;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: images;
}
h1,h2{
    font-family: 'Franklin Gothic Medium';
    font-style: initial;
    font-size: xx-large;
    font-weight: bold;
}

h5,h6{
    font-style: italic;
}
p {
    font-weight: 200;
}

.stock-link {
    font-weight: 120;
    font-size: 13;
    position: sticky;
    top:0px;
}


.adobe-stock {

    position: sticky;
    top: 0;
}

.stock-link-small {
    font-weight: 120;
    font-size: 10px;
    margin-left:  50px;
    position: sticky;
    top: 0;
   

    
    ;
}

.stock-img {
    margin: 20px 0px 10px ;
    position: sticky;
    top: 0px;
}

.footer {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;

}


